*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Menu{
    background-color: gold;
    list-style: none;
}
#Menu li a{
    color: white;
    display: block;
    text-decoration: none;
    font-weight: 600;
    padding: 15px;
}
#Menu li a:hover{
    color: black;
    background-color: white;
}
#Menu li{
    display: inline-block;
}
#Icono{
    padding-left: 5px;
}
#Main{
    /* Hacer degradado */
    /* background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('Edificio2.jpg'); */
    background: rgba(0, 0, 0, 0.7) url('img/Edificio2.jpg');
    background-blend-mode: darken;
    background-size: cover;
    position: absolute;
    height: calc(100% - 51px);
    width: 100%;
}
#Principal{
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}
#Formulario{
    background-color: lightgrey;
    color: white;
    margin: auto;
    padding: 20px;
    text-align: center;
    width: 50%;
}
.parrafo{
    color: white;
}
.secundario{
    color: white;
}
.columnas{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
    grid-gap: 2px;
    text-align: center;
}